/* LAYOUT:------------------------------------------------------------------------------------------- */

.EmailApp-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: #202124;
}

.EmailSideBar {
    flex-grow: 2
}

.EmailList {
    flex-grow: 5;
}

/* EMAIL FILTER:------------------------------------------------------------------------------- */

.filter input {
    box-shadow: none;
    border: 1px solid rgb(233, 232, 232);
    width: 40vw;
    height: 30px;
    border-radius: 40px;
}

.filter input:focus {
    border: none;
    background-color: rgb(233, 232, 232);
    /* font-family: roboto-regular, sans-serif; */
    width: 40vw;
    height: 30px;
    border-radius: 40px;
}

.filter .fa-search {
    color: rgb(233, 232, 232);
    height: 30px;
}