/* LAYOUT:------------------------------------------------------------------------------------------- */

.EmailApp-wrapper {
    /* height: 100%; */
    /* display: flex;
    flex-direction: row;
    align-items: stretch; */
    color: #202124;
    /* gap: 10px; */
    margin: 0px 10px;
}

.EmailList {
    top: 80px;
    width: 80%;
    right: 0;
    position: absolute;
}