
/* style of the nerrow preview-bar:-----------------------------------------------  */
.EmailPreviewShort {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(211, 211, 211);
    margin-top: 20px;
    padding: 10px;
    margin-right: 20px;
   
}
.EmailList{
    margin-left: 30px;
}

.EmailPreviewShort *>{
    border: 1px solid black;
}

.EmailPreviewShort .time{
    flex-grow: 1;
    text-align: right;
    margin-right: 30px;

}
.EmailPreviewShort .body{
    flex-grow:6;
    text-align: left;
}
.EmailPreviewShort .from{
    flex-grow:2;
    text-align: right;
    /* justify-self: left; */
}
.EmailPreviewShort .subj{
 font-weight: bold;
 text-align: left;
}


.EmailPreview{
    display: flex;
    flex-direction: column;

}

.EmailDetails{
    background-color: rgb(241, 237, 237);
}

.EmailDetails .emailAddress{
    color: rgb(109, 109, 109);
}

.unRead .EmailPreviewShort{
    font-weight: bold;
    background-color: rgb(114, 113, 113);
}