.AppHeader {
    font-family: sans-serif;
    background-color: #fff;
}

.AppHeader ul {
    list-style-type: none;
    overflow: hidden;
}

.AppHeader li {
    float: right;
    padding-right: 10px;
}

.AppHeader i {
    color: var(--darkgray);
    font-size: 30px;
}

.AppHeader img {
    height: 70px;
}

.AppHeader h1 {
    color: var(--darkgray);
    margin: 0;
}